@charset "UTF-8";
	#article1{
		float: left;
		text-align: center;
	}
	#article2{
		padding-top:15px;
		margin-top: 50px;
		text-align: center;
	}
	#article3{
		margin : 30px 0;
		text-align: center;
	}
	#notice{
		margin: 10px 0px;
		display: grid;
		
	}
	#notice tr{
		height: 30px;
	}

	#noticeDate{
		text-align: center;
	}
	#noticeTitle{
		padding-left: 10px;
	}
	
